/* ubuntu-regular - greek-ext_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v13-greek-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('./fonts/ubuntu-v13-greek-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/ubuntu-v13-greek-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/ubuntu-v13-greek-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/ubuntu-v13-greek-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/ubuntu-v13-greek-ext_latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html {
    background: url('./pictures/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    	
}
.main {
    position: fixed;
    left: 350px;
    top: 100px;
    bottom: 100px;
    right: 100px;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.9);
    
}
a {
    color: white;
}
h3 {
    color: white;
    text-align: center;
    padding: 40px;
    font-family: Ubuntu;
}
h5 {
    color: white;
    text-align: left;
    font-size: 18px;
    margin-left: 50px;
    font-family: Ubuntu;
}
p {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: Ubuntu;
    padding: 10px;
}
img {
    float: left;
}
.menu {
    position: fixed;
    width: 250px;
    margin-left: 0px;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(17, 17, 17, 0.9);
    opacity: 0.9;
}
.boxed_item {
    font-family: Ubuntu;
    font-weight: 200;
    padding: 10px;
    display: inline-block;
    border: solid 2px white;
    box-sizing: border-box;
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 70px;
}
.logo_bold {
    font-weight: 800;	
}
.logo_title {
    color: white;
    font-family: Ubuntu;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
}

.nav_selection {
    margin: 20px 0;
    display: block;
    width: 200px;
    margin-left: 25px;
}
.nav_item {
    font-weight: 200;
    font-family: Ubuntu;
    color: white;
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: solid 1px #D8D8D8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#el_flag {
    width: 2.5em;
    position: absolute;
    bottom: 35px;
    left: 30%;
    right: 30%;
}
#us_flag {
    width: 2.5em;
    position: absolute;
    bottom: 35px;
    left: 45%;
    right: 45%
}
.copy-left { 
    
    display: inline-block;  
    text-align: right;
    margin: 0px; 
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); 
    filter: FlipH; 
    -ms-filter: “FlipH”; 
}
#copyleft {
    border-top: solid 1px #D8D8D8;
    padding: 4px;
    color: white;
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    width: 190px;
    font-family: Palatino;
    margin-left: 25px;

}
.clicked {

}
